<html>
<head>
    <title>{{.title}}</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content="{{.keywords}}" />
    <meta name="description" content="{{.description}}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
</head>
<body>
<div style="height: 100vh;margin:1rem auto;text-align: center;">
    <img src="/static/img/logo_s.png" style="max-width:100%;margin-bottom: 2rem;">
    <hr>
    <img src="/static/img/go.png" style="max-width: 100%;margin-bottom: 2rem;">
    <br />
    <h2>这是一个gow的网站演示页面</h2>
    <p style="color:#888888;font-size:1.2rem;">
        基于gow框架开发的网站demo
    </p>
    <p style="color:#999;">
        <i>{{.date}}</i>
    </p>
</div>
</body>
</html>